.version.about /* version checker */
{
	color: #0000F2;
	background-color: #FB115D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.94146912035524px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 27px;
	width: 0.01px;
}

#u81
{
	z-index: 2;
	width: 202px;
	margin-left: 379px;
}

#u88
{
	z-index: 4;
	width: 960px;
	height: 1px;
}

#menuu96
{
	z-index: 5;
	width: 231px;
	margin-left: 364px;
	margin-top: 3px;
}

#u97
{
	width: 75px;
	min-height: 24px;
	margin-right: -10000px;
}

#u100
{
	width: 75px;
	padding-bottom: 7px;
}

#u100:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u100.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u102-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u100:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u100:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u100.MuseMenuActive #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u121
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 77px;
}

#u122
{
	width: 76px;
	padding-bottom: 7px;
}

#u122:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u122:active
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u125-4
{
	width: 76px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u122:hover #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u122:active #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u210
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 155px;
}

#u213
{
	width: 76px;
	padding-bottom: 7px;
}

#u122.MuseMenuActive,#u213:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u213:active
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u213.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u216-4
{
	width: 76px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u122.MuseMenuActive #u125-4,#u213:hover #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u213:active #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u213.MuseMenuActive #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#pu128
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 43px;
}

#u128
{
	z-index: 43;
	width: 309px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 611px;
}

#u134-20
{
	z-index: 45;
	width: 514px;
	min-height: 479px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u134-2
{
	font-size: 18px;
	line-height: 22px;
}

#u137
{
	z-index: 65;
	width: 294px;
	height: 1px;
	background-color: #F3669F;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#menuu138
{
	z-index: 24;
	width: 127px;
	margin-left: 416px;
	margin-top: 7px;
}

#u140
{
	width: 41px;
}

#u140:active
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u139,#u142-4
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
}

#u140:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u140:active #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
	left: 43px;
}

#u156
{
	width: 41px;
}

#u140.MuseMenuActive,#u156:hover
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u156:active
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u159-4
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
}

#u140.MuseMenuActive #u142-4,#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u217
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
	left: 86px;
}

#u218
{
	width: 41px;
}

#u156.MuseMenuActive,#u218:hover
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u218:active
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u218.MuseMenuActive
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u219-4
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
}

#u156.MuseMenuActive #u159-4,#u218:hover #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u218:active #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u218.MuseMenuActive #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

