.version.contact /* version checker */
{
	color: #0000FB;
	background-color: #2B32FB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5564223913832px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 27px;
	width: 0.01px;
}

#u81
{
	z-index: 2;
	width: 202px;
	margin-left: 379px;
}

#u88
{
	z-index: 4;
	width: 960px;
	height: 1px;
}

#menuu96
{
	z-index: 5;
	width: 231px;
	margin-left: 364px;
	margin-top: 3px;
}

#u97
{
	width: 75px;
	min-height: 24px;
	margin-right: -10000px;
}

#u100
{
	width: 75px;
	padding-bottom: 7px;
}

#u100:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u100.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u102-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u100:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u100:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u100.MuseMenuActive #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u121
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 77px;
}

#u122
{
	width: 76px;
	padding-bottom: 7px;
}

#u122:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u122:active
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u125-4
{
	width: 76px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u122:hover #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u122:active #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u210
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 155px;
}

#u213
{
	width: 76px;
	padding-bottom: 7px;
}

#u122.MuseMenuActive,#u213:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u213:active
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u213.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u216-4
{
	width: 76px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u122.MuseMenuActive #u125-4,#u213:hover #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u213:active #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u213.MuseMenuActive #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#pu190
{
	width: 0.01px;
	margin-left: 203px;
	margin-top: 10px;
}

#u190
{
	z-index: 43;
	width: 554px;
	background-color: transparent;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	position: relative;
	margin-right: -10000px;
}

#u190_clip
{
	overflow: hidden;
	width: 554px;
	height: 373px;
}

#u190_img
{
	margin-bottom: -625px;
}

#u160-4
{
	z-index: 45;
	width: 166px;
	min-height: 22px;
	background-color: transparent;
	font-size: 19px;
	text-align: center;
	line-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 194px;
}

#u161-16
{
	z-index: 49;
	width: 341px;
	min-height: 127px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 106px;
}

#u161-10,#u161-12,#u161-14
{
	font-size: 12px;
	line-height: 14px;
}

#u162
{
	z-index: 65;
	width: 132px;
	height: 1px;
	background-color: #EB4B8B;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 211px;
}

#menuu138
{
	z-index: 24;
	width: 127px;
	margin-left: 416px;
	margin-top: 6px;
}

#u140
{
	width: 41px;
}

#u140:active
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u139,#u142-4
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
}

#u140:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u140:active #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
	left: 43px;
}

#u156
{
	width: 41px;
}

#u140.MuseMenuActive,#u156:hover
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u156:active
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u159-4
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
}

#u140.MuseMenuActive #u142-4,#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u217
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
	left: 86px;
}

#u218
{
	width: 41px;
}

#u156.MuseMenuActive,#u218:hover
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u218:active
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u218.MuseMenuActive
{
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u219-4
{
	width: 41px;
	min-height: 12px;
	margin-right: -10000px;
}

#u156.MuseMenuActive #u159-4,#u218:hover #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u218:active #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u218.MuseMenuActive #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

